{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/magic/symfony/Projet-gestion-material/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/home/magic/symfony/Projet-gestion-material/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
