@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.arrow_img {
  cursor: pointer;
  transform: rotate(0deg);
}

.arrow_img_down {
  cursor: pointer;
  transform: rotate(180deg);
}

.active_dropdown {
  display: none !important;
}

@keyframes fade_dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.frame_header {
  padding-top: 25px;

  
.active {
  display: none !important;
}

.frame_header {
  width: 100%;
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

hr {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  border: none;
}

:root {
  --color-primary: #33058c;
  --color-secondary: #137504;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
}

.material_history {
  width: 90%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #33058d;
}

.table_scroll {
  display: block;
  height: 76vh;
  height: 80vh;
  overflow-y: scroll;
}

th {
  text-align: left;
  background-color: var(--color-primary);
  color: #fff;
  height: 8vh;
  padding-left: 10px;
}

td {
  padding: 10px;
}

td:nth-child(1) {
  border-right: 2px solid var(--color-primary);
}

td:nth-child(2) {
  border-right: 2px solid var(--color-primary);
}

td:nth-child(3) {
  border-right: 2px solid var(--color-primary);
}

td:nth-child(4) {
  border-right: 2px solid var(--color-primary);
}

td:nth-child(5) {
  border-right: 2px solid var(--color-primary);
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

.img-edit img {
  width: 70%;
}

.frame {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.dashboard {
  padding-top: 2%;
  width: 18%;
  height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
}

nav {
  padding-top: 20%;
}

.nav_links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  transition: 0.2s all ease-in;
}

.nav_links_dropdown_one {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.nav_links_dropdown_two {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.nav_links_dropdown_text {
  font-size: 1rem;
  padding-left: 70px;
}

.nav_logout_icon {
  width: 85%;
  height: 32vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

li {
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}

.account_icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.acount_name {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.acount_name span {
  font-size: 0.8rem;
}


.searchForm{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.search-input {
  width: 50%;
  border-radius: 6px;
  border: 1px solid #5d3ba6;
  background: #ebf1fc;
  padding: 6px 7px;
  color: #8e8f8f;
}

.search-input::placeholder{
  padding-left: 25px;
}


.serach_icon{
  position: absolute;
  left: 0;
  padding-left: 25.5%;
}

.serach_img{
  width: 18px;
}


.custom-form {
  padding-top: 10px;
  width: 45%;
=======
/* Gestion Matériel */

.custom-form {
  width: 50%;
}

.custom-input {
  border-radius: 6px;
  border: 1px solid #5d3ba6;
  background: #ebf1fc;
  padding: 10px 7px;
  color: #8e8f8f;
}

.custom-input.textarea {
  height: 100px;
}

.custom-select {
  border-radius: 6px;
  border: 1px solid #5d3ba6;
  background: #ebf1fc;
  padding: 6px 7px;
  color: #8e8f8f;
}


.button_borrowing{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-button {
  background: #33058d;
  color: #fff;
  border: 0px solid;
  padding: 11px 52px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.custom-button:hover {
  filter: brightness(85%);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 8px;
}

.form-group label {
  font-weight: bold;
}

.form-group-divid {
  display: flex;
  justify-content: space-between;
}

.form-group-divid2 {
  width: 48%;
  gap: 4%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.edit-mat {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: flex-start;
  padding-left: 60px;
}
.flex {
  display: flex;
}
